doctype html
html
    head 
     title='Catalog'
     link(rel="stylesheet", href="style.css")
     script(src="/myscript.js") 
    body
     a(href='/home') HOME
     a(href='/about') About
     h1='The Page is Under Construction'
     h5#quot1='“If at first you don’t succeed, that’s about average for a construction project.” — Sam “The Sledgehammer” Stevens'