doctype html
html
    head 
     title='NEZ QUOTES PIX'
     link(rel="stylesheet", href="style.css")
     script(src="/myscript.js") 
    body
     a(href='/home') HOME
     a(href='/catalog') Quotes Catalog
     a(href='/about') About
     p='WELCOME TO THE PAGE OF WISE QUOTES'
     h5#quot1='“I have not failed. I’ve just found 10,000 ways that won’t work.” – Thomas A. Edison'
    //-  form(action="/create", method="post")
    //-     input(type="text")
    //-     input(type="submit", value="Send")